body {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 35, 32);
}

a:link { color: rgb(255, 255, 255); }
a:visited { color: rgb(255, 255, 255); }
a:hover{ color: rgb(255, 255, 255); }

.header {
    color: rgb(255, 255, 255);
    background-color: rgb(47, 44, 44);
    font-style: normal;
}

.page { background-color: rgb(41, 40, 37); }
