body {
    color: rgb(0, 0, 0);
    background-color: rgb(230, 218, 193);
}

.menu-style {
    color: rgb(126, 230, 242);
    background-color: rgb(230, 218, 193);
}

.padding {
    padding: 12px;
}
.title-bar {
    background-color: rgb(255, 255, 255);
}